.top-bar--editor {
    display: flex;
    width: 100%;
    height: auto;
    padding: 1rem 2rem 1rem;
    background-color: var(--bg-secondary);
    padding-left: 350px;
    border-bottom: 1px solid var(--gray-main);
    align-items: center;
    justify-content: space-between;
}

.name-top-bar--editor {
    display: flex;
    width: 25%;
    gap: 1rem;
    align-items: center;
}

    .name-top-bar--editor a,
    .name-top-bar--editor input,
    .ops-top-bar--editor select,
    .ops-top-bar--editor button {
        color: var(--text-main);
        font-size: 14px;
    }

    .name-top-bar--editor a svg {
        width: 20px;
        height: 20px;
    }

    .name-top-bar--editor input,
    .ops-top-bar--editor select {
        display: flex;
        width: 100%;
        height: 100%;
        background-color: var(--bg-main);
        padding: 10px 14px 10px;
    }

.ops-top-bar--editor {
    display: flex;
    width: auto;
    height: 100%;
}

    .ops-top-bar--editor select {
        width: auto;
        margin-right: 14px;
    }

    .ops-top-bar--editor button {
        display: flex;
        width: auto;
        height: auto;
        align-items: center;
        justify-content: center;
        border: none;
        gap: 8px;
        cursor: pointer;
        margin: 0 12px 0;
        background-color: var(--bg-secondary);
    }

        .ops-top-bar--editor button svg {
            width: 16px;
            height: 16px;
        }

    .btn-run-code--editor {
        background: var(--seagreen-main) !important;
        padding: 0 1.5rem 0;
        border-radius: 5px;
        color: var(--bg-main) !important;
        font-weight: 700;
    }

        .btn-run-code--editor svg {
            stroke-width: 2.5;
        }

.editor-wrapper {
    display: flex;
    width: 100%;
    height: calc(var(--height-zoomed) - 71.5px);
}

.code-editor {
    display: flex;
    width: 65%;
    height: auto;
    padding-left: 315px;
    flex-direction: column;
}

    .top-editor-titles {
        display: flex;
        width: 100%;
        height: auto;
    }

        .top-editor-titles button {
            cursor: pointer;
            border: none;
            border-right: 1px solid var(--gray-main);
            text-align: center;
            justify-content: center;
        }

        .top-editor-titles div {
            justify-content: center;
            text-align: center;
        }

    .top-editor--title {
        display: flex;
        width: 100%;
        height: auto;
        align-items: center;
        padding: 10.5px 12px 10.5px;
        color: var(--gray-secondary);
        background-color: var(--bg-secondary);
        border: 1px solid var(--gray-main);
        border-top: none;
        border-left: none;
        font-size: 13.5px;
        gap: 8px;
    }

        .top-editor-selected--title {
            background-color: var(--seagreen-dark);
            color: var(--text-main);
        }

        .top-editor--title svg {
            width: 18px;
            height: 18px;
        }

.editor-output-container {
    display: flex;
    width: 35%;
    height: auto;
    flex-direction: column;
    font-size: 14px;
}

    .output-result-container {
        display: flex;
        width: 100%;
        height: 100%;
        border: 1px solid var(--gray-main);
        overflow: hidden;
        color: var(--seagreen-main);
        flex-direction: column;
    }

    .cont-editor-console {
        padding: 1rem;
    }

.code-editor-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.code-editor-container .cm-editor {
    height: 100%;
}

.code-editor-container .cm-scroller {
    font-family: "Fira Code", "Cascadia Code", monospace;
}

.editor-doc {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 0;
}

    .cont-editor-doc--code {
        border-bottom: 1px solid var(--gray-main);
    }

    .cont-editor-doc--code textarea {
        display: flex;
        min-width: 100%;
        min-height: 100%;
        outline: none;
        background: transparent;
        color: var(--gray-secondary);
        border: none;
        resize: none;
        padding: 10px;
    }
    
    .cont-editor-doc {
        display: flex;
        width: 100%;
        height: 50%;
        flex-direction: column;
        border-bottom: 1px solid var(--gray-main);
        padding: 10px;
        overflow-y: scroll;
    }

/* Responsive 1600px */
@media(max-width: 1600px) {
    .name-top-bar--editor a,
    .name-top-bar--editor input,
    .ops-top-bar--editor select,
    .ops-top-bar--editor button {
        font-size: 12.5px;
    }

    .name-top-bar--editor input,
    .ops-top-bar--editor select {
        padding: 9px 12px 9px;
    }

    .btn-run-code--editor {
        padding: 0 1rem 0;
    }

    .editor-output-container,
    .code-editor-container .cm-scroller,
    .top-editor--title {
        font-size: 13px;
    }
}

/* Responsive 1440px */
@media(max-width: 1440px) {
    .code-editor {
        padding-left: 280px;
    }

    .top-bar--editor {
        padding-left: 300px;
        padding-right: 1rem;
    }

    .editor-wrapper {
        height: calc(var(--height-zoomed) - 67.5px);
        overflow-y: hidden;
    }
}