.page-title {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
}

    .title {
        display: flex;
        width: auto;
        height: auto;
        gap: 4px;
        align-items: center;
        gap: 1rem;
        justify-content: space-between;
    }

        .title-txt {
            display: flex;
            flex-direction: column;
        }

        .title h1 {
            font-size: 24px;
            color: var(--text-main);
            font-weight: 500;
        }

        .title h2 {
            font-size: 16px;
            color: var(--gray-secondary);
            font-weight: 400;
        }

    .title-btn-new {
        display: flex;
        width: auto;
        height: 45px;
        color: var(--bg-secondary);
        background-color: var(--seagreen-main);
        align-items: center;
        justify-content: center;
        padding: 0 2.5rem 0;
        border-radius: 5px;
        text-decoration: none;
        gap: 6px;
        font-size: 16px;
        font-weight: bold;
        transition: .2s ease-in-out;
    }

        .title-btn-new:hover,
        .title-btn-snippet {
            opacity: .75;
            transition: .2s ease-in;
        }

        .title-btn-new svg,
        .title-btn-snippet svg {
            width: 19px;
            height: 19px;
        }

    .title-btn-return {
        display: flex;
        width: auto;
        height: auto;
        transition: .15s ease-in;
    }

        .title-btn-return:hover {
            opacity: .8;
            transition: .15s ease-in;
        }

        .title-btn-return svg {
            color: var(--text-main);
            width: 27px;
            height: 27px;
            stroke-width: 2.2;
        }

    .title-snippet-btns {
        display: flex;
        gap: 1rem;
    }

        .title-btn-snippet {
            display: flex;
            width: auto;
            height: auto;
            color: var(--text-main);
            background-color: var(--bg-secondary);
            border: 1px solid var(--gray-secondary);
            align-items: center;
            justify-content: center;
            padding: 10px 2rem 10px;
            border-radius: 5px;
            text-decoration: none;
            gap: 6px;
            font-size: 14px;
            font-weight: 400;
            transition: .2s ease-in-out;
            cursor: pointer;
            opacity: 1;
        }

        .title-btn-snippet:hover {
            opacity: .7;
            transition: .2s ease-in;
        }

/* Responsive 1440px */
@media (max-width: 1440px) {
    .title {
        gap: 3px;
    }

    .title h1 {
        font-size: 21px;
    }

    .title h2 {
        font-size: 15px;
    }

    .title-btn-new {
        font-size: 16px;
    }

    .title-btn-snippet {
        font-size: 13px;
        padding: 9px 1.5rem 9px;
    }
}

/* Responsive 1280px */
@media(max-width: 1280px) {
    .title-btn-new {
        padding: 0 2rem 0;
        font-size: 14px;
    }
}